{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>Welcome to The Blog</h1>
<p>Welcome to Wanderlust Notes, a blog dedicated to capturing the world’s beauty, one journey at a time. Here, we share
    stories from hidden mountain trails, bustling city markets, and serene seaside escapes, offering tips and
    inspiration for travelers of all kinds. Join us as we explore diverse cultures, uncover unique experiences, and
    provide practical advice to make every trip unforgettable. Whether you're a seasoned adventurer or planning your
    first getaway, Wanderlust Notes brings the world a little closer to home.
</p>
{% endblock content %}